body {
    background-color: rgb(228, 233, 230);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    margin-top: 20px;
    padding: 0;
    text-align: center; 
}

h1 {
    color: rgb(76, 47, 47);
    margin: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: #add3d8;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

label {
    width: 120px;
    font-weight: bold;
    display: flex;
    
}

input,select{
    width: 90%; 
    padding: 5px; 
    border: 2px rgb(8, 8, 8) rgb(76, 47, 47);
}
/*Style untuk radio button*/
.radio input[type="radio"] {
    display: none;
}

.radio .checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #171817;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #fff;
}

.radio input[type="radio"]:checked + .checkmark {
    background-color: #38bcfa;
}

/* Style untuk checkbox */
.checkbox input[type="checkbox"] {
    display: none;
}

.checkbox .checkmark {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #333;
    border-radius: 3px;
    margin-right: 5px;
    background-color: #fff;
}

.checkbox input[type="checkbox"]:checked + .checkmark {
    background-color: #333;
}
